# File created using '.gitignore Generator' for Visual Studio Code: https://bit.ly/vscode-gig
# Created by https://www.toptal.com/developers/gitignore/api/nextjs,react
# Edit at https://www.toptal.com/developers/gitignore?templates=nextjs,react

### NextJS ###
# Dependencies
/back/node_modules
/back/.pnp
/back/.pnp.js

# Testing
/back//coverage

# Next.js
/back/.next/
/back/out/

# Production
/back/build

# Misc
/back/.DS_Store
/back/*.pem

# Debug
/back/npm-debug.log*
/back/yarn-debug.log*
/back/yarn-error.log*
/back/.pnpm-debug.log*

# Local env files
/back/.env.local
/back/.env.development.local
/back/.env.test.local
/back/.env.production.local

# Vercel
/back/.vercel

### react ###
/back/.DS_*
/back/*.log
/back/logs
/back/**/*.backup.*
/back/**/*.back.*

/back/node_modules
/back/bower_components

/back/*.sublime*

/back/psd
/back/thumb
/back/sketch

# End of https://www.toptal.com/developers/gitignore/api/nextjs,react

# Custom rules (everything added below won't be overriden by 'Generate .gitignore File' if you use 'Update' option)


# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/front/node_modules
/front/.pnp
/front/.pnp.js

# testing
/front/coverage

# production
/front/build

# misc
.DS_*
/front/.DS_Store
/front/.env.local
/front/.env.development.local
/front/.env.test.local
/front/.env.production.local

/front/npm-debug.log*
/front/yarn-debug.log*
/front/yarn-error.log*
